@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#searchInput {
  height: 4.2vh;
  border: 1px solid #0095f6;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.searchButton {
  height: 1.6em;
  border: 1px solid #0095f6;
  background: #0095f6;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1.2em;
  padding-bottom: 10px;
  padding-right: 5px;
}
