@import url(https://fonts.googleapis.com/css?family=Open+Sans);

form.search-city-form input[type='text'] {
  padding: 8px;
  font-size: 1.3em;
  border: 1px solid grey;
  float: left;
  outline: none;
  width: 80%;
  background: #f1f1f1;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

form.search-city-form button {
  float: left;
  width: 20%;
  outline: none;
  padding: 8px;
  background: #2196f3;
  color: white;
  font-size: 1.3em;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

form.search-city-form button:hover {
  background: #0b7dda;
}

form.search-city-form::after {
  content: '';
  clear: both;
  display: table;
}
