.cat-column {
  flex-grow: 1;
  width: 100%;
  height: auto;
  padding: 10px;
  line-height: 150%;
}

@media (min-width: 48em) {
  .cat-column {
    width: 33.33%;
  }
}

.cat-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
  padding: 30px;
}

.cat-card:hover {
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.2);
}
